html{
    position: relative;
}

body{
    margin-bottom: 100px;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #666;
}

hr {
    width: 250px;
    border-top: 3px solid #666
}

.about {
    min-height: 300px;
}

.portfolio {
    background-color: rgb(236, 228, 228);
}

.contact {
    min-height: 600px;
}

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #333;

}